* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  width: 100%;
  min-width: fit-content;
  /* min-height: fit-content; */
  /* height: 100vh; */
}
body {
  /* height: 100%; */
}
.my-modal {
  width: 80%;
  max-width: 90% !important;
  /* TO change the width of the table and the modal */
}

/* max-width: none !important; */
.alert-shown {
  opacity: 1;
  transition: all 250ms linear;
}

.alert-hidden {
  opacity: 0;
  transition: all 250ms linear 2s;
}

.nav-wrapper {
  /* width: 100vw; */
  /* height: 4rem; */
  height: 6vh;
  background: #1f2023;
  border: 1px #5e5e5e solid;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  /* justify-items: right;*/
  align-items: center;
}
.nav-title {
  color: white;
  margin-left: 4rem;
}
.body-wrapper {
  width: 100%;
  height: 89vh;
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 1fr;
  border: 1px #5e5e5e solid;
  margin: 0;
}

.main-body {
  background: #202124;
  max-height: 100vh;
  width: inherit;
  display: grid;
  justify-items: center;
  align-items: flex-start;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 11fr;
}
.body-button-wrap {
  background: inherit;
  height: 6vh;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  gap: 0.5rem;
}
.table-wrapper {
  background: #202124;
  height: 80vh;
  width: 100%;
  margin: 0.1rem;
  padding-right: 4px;
}

.footer {
  /* position: fixed; */
  width: 100%;
  background: #1f2023;
  border: 2px solid #454546;
  height: 6vh;
  text-align: center;
  margin-top: 0;
  /* z-index: -10; */
}
.footer > p {
  padding-top: 4px;
  color: white;
  opacity: 0.7;
}

.custom-btn {
  height: 7.3vh;
  background: "FFFFFF";
  border-bottom: none;
}
